.box1{
    margin: 25px;
    border: 0px solid;
    background: hsl(215, 32%, 27%);
    border-radius: 20px;
}
.imge{
    border-radius: 50px;
    border: 1px;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    left: 70px;    
}
